html, body {
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
   background-color: rgba(0,0,0,.9);
   color: white;
}

webview {
    border: none;         /* Reset default border */
    height: 100vh;
    width: 96vw;
    float: right;
}

toolbar {
    border: none;
    height: 100vh;
    width: 4vw;
    float:left
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
}


button {
    border: none;
    border-radius: 3vmax;
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
    height: 3vmax;
    width: 3vmax;
    background-color: rgba(0,0,0);
    margin: 0.5vmax;
    magin-bottom: 0.25vmax;
}

.tbicon {
    border: none;
    border-radius: 2vmax;
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
    height: 2vmax;
    width: 2vmax;
    background-color: rgba(0,0,0);
}


::-webkit-scrollbar {
    width: 6px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
